<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Login</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/game">Game</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </head>

  <body style="background: #ffffff;">
    <div style="padding: 2rem;">
      <b>How to play:</b>
      <p>1. Two users will be presented with the same board of 24 people. Each player's first click chooses a different person for which the other player has to guess (ex: Player I must guess Player II’s person).<br>
        2. Player I and Player II will take turns asking each other any questions (preferably yes or no questions) that can help them guess who their person is.<br>
        3. During their turn, the player can cross off options that do not fit the description of their mystery person or choose who they think it is for a chance to win.<br>
        4. The player can guess instead of asking a question during their turn. If they guess incorrectly, the next player goes. The game ends when one of the players guesses the other’s character.</p>
  </div>
  </body>
</html>
